* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.watch-page {
  * {
    pointer-events: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-drag: none; /* Safari */
  }
}

body {
  background-color: rgb(25, 25, 25);
  color: rgb(241, 241, 241);
  font-family: "Times New Roman", Times, serif;
}

canvas {
  padding: 0.5rem;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}
